*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.navbar{
    display: flex;
    max-width: 1320px;
    padding: 15px 50px;
    position: fixed;
    z-index: 1;
    background-color: #2f2f2f;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}



.size{
    display: inline-block;
    padding: 10px;
    color: white;   
    font-family: "Mulish", sans-serif;
}
.size a{
    color: white;
    font-family: "Mulish", sans-serif;
}
.size1{
    width: fit-content;
    padding: 5px;
    margin: 10px 30px 10px 30px;
}
.button{
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    display: none;
    border: none;
}


.blog{
        background-color: transparent;
        font-size: 16px;
        border: hidden;
        color: white;
}

/* ------section-1 start----- */
.container{
    max-width: 1320px;
    margin: auto;
}

.container h2{
    font-size: 44px;
}

/* display flex proprties */

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

/* -----justify-properties------ */
.j-c{
    justify-content: center;
}
.j-s{
    justify-content: start;
}
.j-e{
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content:start;
}
.j-a{
    justify-content: space-around;
}
.j-b{
    justify-content: space-between;
}

.j-e{
    justify-content: space-evenly;
}

/* padding properties */

.p-1{
    padding: 10px;

}
.p-2{
    padding: 20px;
}
.p-left{
    padding: 30px;
}
.p-right{
    padding: 20px;

}

/* ----padding-end--- */

.bg{
    background-image: url("img/us.webp");
    background-size: cover;
   
}

.box {
    padding: 0px 0px 0px 64px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30%;
    margin-bottom: 10%;
    color: aliceblue;

}  
.box h2{
    font-size: 80px;
    color: #7a7373;   
} 
.btn{
    padding: 20px 50px 20px 50px ;
    background-color: rgb(250, 213, 5);
    font-weight: 400;
    padding: 16px 32px;
    font-size: 20px;
    flex-flow: column;
    border: none;
    color: rgb(51, 48, 48);
    letter-spacing: 1px;
}


.box1{
    margin-top: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.im-1{
    background-image: url("img/im1.webp");
    background-size: cover;
    border-radius: 10px;
    
    
}
.im-2{
    background-image: url("img/im2.webp");
    background-size: cover;
    border-radius: 10px;
   
    
}
.im-3{
    background-image: url("img/im3.webp");
    background-size: cover;
    border-radius: 10px;
   
}

.box1 p{
    letter-spacing: 2;
    color: rgb(250, 245, 245);
}

.box1 h1{
    font-size: 30px;
    letter-spacing: 2;
    color: rgb(250, 248, 248);
}



/* height properties */

.h-1{
    height: 178px;
}
.h-2{
    height: 200px;
}
.h-3{
    height: 300px;
}
.h-4{
    height: 450px;
}
.h-5{
    height: 500px;
}
.h-6{
    height: 600px;
}
.h-7{
    height: 50px;
}



.para1{
    color: #2f2f2f;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

/* ------section-1 end---- */




/* -----section-2 start----- */


.sa-1{
    background-size: cover;
    border-radius: 50%;
    width: 178px;
    background-image: url("img/sa-1.webp");
}
.sa-2{
    background-size: cover;
    border-radius: 50%;
    width: 178px;
    background-image: url("img/sa-2.webp");
}
.sa-3{
    background-size: cover;
    border-radius: 50%;
    width: 178px;
    
    background-image: url("img/sa-3.webp");
}
.sa-4{
    background-size: cover;
    border-radius: 50%;
    width: 178px;
    background-image: url("img/sa-4.webp");
}
.sa-5{
    background-size: cover;
    border-radius: 50%;
    width: 178px;
    background-image: url("img/sa-5.webp");
}
.sa-6{
    background-size: cover;
    border-radius: 50%;
    width: 178px;
    background-image: url("img/sa-6.webp");
}

.a-1{
    font-size: 17px;
    margin: auto;
    width: 100%;
 
    align-items: center;
    text-align: right;
    letter-spacing: 1;
    transition: all 0.5s;
  
}


.a-1:hover{
    color:rgb(43, 124, 216);
}


.div{
    padding: 20px;
    font-size: 10px;
    background-color: #cfcfce;
    align-items: center;
}


/* -----section-2 end----- */


/* -----section--3 start---- */


.box1 img{
    width: 100%;
}
.box1{
    margin-top: 20%;
    margin: 20px;
}
.box1 h3{
    padding-bottom: 60px ;
    padding-top: 10px;
    letter-spacing: 2px;
    padding-left: 20px;
  
}


/* -----section--3 end---- */



/* -----section--4 start----- */


.se-1{
    background-image: url("img/se-1.webp");
    background-size: cover;
    border-radius: 10px;
    
    
}
.se-2{
    background-image: url("img/se-2.webp");
    background-size: cover;
    border-radius: 10px;

   
    
}
.se-3{
    background-image: url("img/se-3.webp");
    background-size: cover;
    border-radius: 10px;
   
}


/* -----section--4 end----- */



/* ----section--5 start---- */

.box-1 img{
    width: 100%;
  
}

.box1 h3{
    padding-bottom:  30px;
}

/* ----section--5 end---- */



/* ----section--6 start----- */

.box2 img{
    width: 100%;
}
.box2{
    margin-top: 40px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 6px 5px 6px;
}
.box2 h5{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
    
}
.box2 h4{
    padding-right: 10px;
    padding-left: 40px;
    padding-top: 20px;
    
}
.box2 a{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
}



/* ----section--6 end----- */



/* ----section--8 start----- */

.box1{
    margin-top: 2px;
}



/* ----section--8 end----- */



/* ------footerr ----------- */



.box-1{
    width: 100%;
    background-color: #2f2f2f;

}



.row{
    margin: auto;
}

.w-2 {
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-left: 20px;
    background-color: none;
    font-size: 20px;
    transition: all 1.5s;
    align-items: center;
    justify-content: space-around;

}
i{
    padding: 20px;
}
.w-2 :hover{
    color: rgb(148, 112, 189);
    scale: 1;
}



.padding a{
    margin-top: 10%;
    padding-top: 10%;
    padding: 25px;
    color: rgb(29, 166, 207);
    font-size: 30px;
    line-break:none;
    margin-left: 20px;
}
/* ------footerr ----------- */

.btn2{
    padding: 20px 50px 20px 50px ;
    background-color:#2f2f2f;
    font-weight: 400;
    padding: 16px 32px;
    font-size: 20px;
    flex-flow: column;
    border: none;
    color: rgb(250, 242, 242);
    letter-spacing: 1px;
}

h1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
    transition: all;
}

h1:hover{
    color: #ee6719;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
